@font-face {
    font-family: 'roboremix';
    src: url('RBNo3.1-Black.otf')
}

*{  
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.h1{
    color: white;
    font-family: 'roboremix';
}




*.jsx-22149690392 {
    border: 30px solid black;
    background-color: black;
    width: 2rem;
    padding: 0;
}

*.jsx-2214969039 {
    border: 3px solid white;
    background-color: white;
    width: 80%;
    padding: 0;
}

.home{
    color: white;
    font-family: 'roboremix';
    font-size: 25px; 
}

.homer{
    color: yellow;
    font-family: 'roboremix';
    font-size: 25px; 
}

.nota{
    color: white;
    border: 7px solid white;
    width: 120px;
    height: 90px;
    font-size: 45px;
    font-family: 'roboremix';
    border-radius: 25px;
    text-align: center;
}

label{
    color: white;
    font-size: 33px;
    font-family: 'roboremix';
}

.labels1{
    display: flex;
    justify-content: space-around;
}

.inputs1{
    display: flex;
    justify-content: space-around;
}
button:hover{
    cursor: pointer;
}
.notas{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.logo{
    height: 40vh;
    width: auto;
    position: absolute;
    background-color:rgba(255, 0, 0, 0) ;
    bottom: 5vh;
    right: 2vw;
}

.nome{
    color: white;
    font-size: 40px;
    font-family: 'roboremix';
    width: 100%;
    text-align: center;

}

.cat{
    font-size: 33px;
    width: 65vw;
    color: white;
    font-family: 'roboremix';
}

.pasnome{
    text-align:center;
    margin: auto;
    width: 80vw;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btnmedia{
    color: white;
    font-size: 25px;
    font-family: 'roboremix';
}

.btnfinal{
    color: white;
    font-size: 40px;
    font-family: 'roboremix';
}

.pasbtn{
    display: flex;
    justify-content: center;
}

.hmedia{
    color: black;
    font-size: 60px;
    font-family: 'roboremix';
}

.plus{
    color: white;
    font-size: 60px;
    font-family: 'roboremix';
    position: absolute;  
}

.media{
    text-align:center;
    margin: auto;
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.mediaL{
    text-align:center;
    margin: auto;
    width: 35%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.pasfinal{
    text-align:center;
    margin: auto;
    width: 35%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.final{
    color: white;
    font-size: 220px;
    font-family: 'roboremix';
    
}


